@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/worksans-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/worksans-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/worksans-regular.woff) format('woff');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/worksans-bold.woff) format('woff');
}

@-webkit-keyframes loading {
    0% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    20% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    80% {
        width: 60%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        width: 99%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@-moz-keyframes loading {
    0% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    20% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    80% {
        width: 60%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        width: 99%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@-ms-keyframes loading {
    0% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    20% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    80% {
        width: 60%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        width: 99%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@-o-keyframes loading {
    0% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    20% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    80% {
        width: 60%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        width: 99%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@keyframes loading {
    0% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    20% {
        width: 0%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    80% {
        width: 60%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    100% {
        width: 99%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
    }
    
    93% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    96% {
        opacity: 1;
    }

    98% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
}

@-moz-keyframes zoomIn {
    from {
        opacity: 0;
    }
    
    93% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    96% {
        opacity: 1;
    }

    98% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
}

@-ms-keyframes zoomIn {
    from {
        opacity: 0;
    }
    
    93% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    96% {
        opacity: 1;
    }

    98% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
}

@-o-keyframes zoomIn {
    from {
        opacity: 0;
    }
    
    93% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    96% {
        opacity: 1;
    }

    98% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
}
  
@keyframes zoomIn {
    from {
        opacity: 0;
    }
    
    93% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    96% {
        opacity: 1;
    }

    98% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.loader.no-js, section.no-js {
    display: none;
}

#no-js.hidden {
    display: none;
}

#alert.zoom-in {
    opacity: 1;
    pointer-events: auto;
    -webkit-animation: zoomIn 5300ms linear;
    -moz-animation: zoomIn 5300ms linear;
    -ms-animation: zoomIn 5300ms linear;
    -o-animation: zoomIn 5300ms linear;
    animation: zoomIn 5300ms linear;
}

#no-js a {
    color: rgba(39, 39, 230, 1);
    text-decoration: none;
    border-bottom: solid  rgba(39, 39, 230, 1) 1px; 
}

#no-js .bg {
    z-index: 999999999;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h2, h3, p, li, .button, table, #alert p b {
        font-size: 15px!important;  
    }
    h1 {
        font-size: 16px!important;
    }
    #alert p {
        font-size: 14px!important;
        padding-left: 10px!important;
    }
    #alert img {
        width: 60px!important;
    }
    div.flex p, .lightbox p {
        font-size: 15px!important;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 767px) {
    h2, h3, p, li, .button, table, #alert p b {
        font-size: 13px!important;
    }
    h1 {
        font-size: 14px!important;
    }
    #alert p {
        font-size: 12px!important;
        padding-left: 8px!important;
    }
    #alert img {
        width: 60px!important;
    }
    div.flex {
        width: 90%!important;
        padding-top: 2em!important;
    }
    .spacer {
        height: 2em!important;
    }
    #anfrage, #impressum, #haftungsausschluss, #datenschutz {
        padding: 2em 1em 0em 1em!important;
    }
    div.flex p, .lightbox p {
        font-size: 13px!important;
    }
    #alert td {
        padding: 0!important;
    }
    #alert img {
        padding-right: 8px;
    }
}

body { 
    background-color: hsl(13, 81%, 53%); 
    height: 100%;
    width: 100%;
    margin: auto;
}

html, body, h1, h2, h3, p, li, table {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(10, 10, 10, 0.01) 0 0 1px;
}

div.loader {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(13, 81%, 53%);
    z-index: 999999;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.loader:hover {
    cursor: none;
}

div.loader img {
    width: 200px;
    height: auto;
    padding-bottom: 50px;
}

#bar {
    position: relative;
    height: 7px;
    width: 300px;
    border: 1px solid #fff;
    border-radius: 300px;
}

#bar:before {
    content: "";
    position: absolute;
    border-radius: 300px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-animation: loading 3800ms ease-in-out;
    -moz-animation: loading 3800ms ease-in-out;
    -ms-animation: loading 3800ms ease-in-out;
    -o-animation: loading 3800ms ease-in-out;
    animation: loading 3800ms ease-in-out;
}

div.loader.hidden {
    opacity: 0;
    pointer-events: none;
}

div.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;

    opacity: 1;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-transition: min-height 1000s steps(1);
    -moz-transition: min-height 1000s steps(1);
    -ms-transition: min-height 1000s steps(1);
    -o-transition: min-height 1000s steps(1);
    transition: min-height 1000s steps(1);
}

div.bg.hidden {
    opacity: 0;
    cursor: none;
}

div.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

div.main.hidden {
    display: none;
}

div.flex {
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    height: 85%;
    margin: auto;
    padding-top: 4em;
    align-items: center;
    justify-content: space-evenly;
}

#info.visible, #costs.visible, #contact.visible, #footer.visible {
    opacity: 1;
    pointer-events: auto;
}

#info {
    align-self: flex-start;
    max-width: 500px;
}

#costs {
    align-self: flex-end;
    max-width: 570px;
}

#contact {
    align-self: auto;
}

#footer {
    background-image: url("img/card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
    max-width: 400px;
}

#info, #costs, #contact, #footer {
    position: relative;
    border: 1px solid rgba(10,10,10,0.3);
    border-radius: 5px;
    background-color: #fff;
    margin: .8em;
    padding: 2.6em 1.3em 1.3em 1.3em;

    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;

    pointer-events: none;

    -webkit-box-shadow: 0px 13px 15px 0px rgba(10,10,10,0.1);
    -moz-box-shadow: 0px 13px 15px 0px rgba(10,10,10,0.1);
    -ms-box-shadow: 0px 13px 15px 0px rgba(10,10,10,0.1);
    -o-box-shadow: 0px 13px 15px 0px rgba(10,10,10,0.1);
    box-shadow: 0px 13px 15px 0px rgba(10,10,10,0.1);
}

.spacer {
    position: relative;
    height: 4em;
    width: 50px;
    opacity: 0;
    align-self: flex-end;
}

#info.active, #costs.active, #contact.active, #footer.active {
    pointer-events: auto;
    z-index: 999;
    -webkit-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -moz-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -ms-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -o-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
}

#alert {
    position: relative;
    bottom: 1.5em;
    border: 1px solid rgba(10,10,10,0.3);
    border-radius: 5px;
    background-color: #ececec;
    margin: .8em;
    padding: 2.6em 1.3em 1.3em 1.3em;
    max-width: 500px;

    opacity: 0;
    pointer-events: none;
    float: left;

    -webkit-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -moz-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -ms-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -o-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
}

#alert.visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
    /*-webkit-animation: zoomIn 300ms linear;
    -moz-animation: zoomIn 300ms linear;
    -o-animation: zoomIn 300ms linear;
    animation: zoomIn 300ms linear;*/
}

#alert td {
    vertical-align: top;
}

#alert p {
    padding: 0 0 1em 1.5em;
    letter-spacing: 0;
    font-size: 14px;
}

#alert p b {
    font-size: 16px;
}

#alert .button {
    float: right;
    margin: 7px 0 0px 20px;
    padding: 0 15px;
    color: #fff;
    letter-spacing: -0.01em;
    line-height: 1.4em;
    text-decoration: none;

    cursor: default;

    background-image: linear-gradient(rgb(105,165,249) 0%, rgb(0, 107, 252) 100%);
    border-radius: 3px;
    border: 0.4px solid rgba(0, 107, 252, 0.5);

    -webkit-box-shadow: 0px 0.5px 1.5px 0px rgba(10,10,10,0.3);
    -moz-box-shadow: 0px 0.5px 1.5px 0px rgba(10,10,10,0.3);
    -ms-box-shadow: 0px 0.5px 1.5px 0px rgba(10,10,10,0.3);
    -o-box-shadow: 0px 0.5px 1.5px 0px rgba(10,10,10,0.3);
    box-shadow: 0px 0.5px 1.5px 0px rgba(10,10,10,0.3);
}

#alert .button.grey {
    color: rgba(10,10,10,1);
    background-image: linear-gradient(rgb(255,255,255) 0%, rgb(255, 255, 255) 100%);

    border-radius: 3px;
    border: 0.4px solid rgba(10, 10, 10, 0.5);
}

#alert .button:active {
    background-image: linear-gradient(rgba(105,165,249,0.7) 0%, rgba(0, 107, 252,0.7) 100%);
    color: rgba(250,250,250,0.8);
}

.bg .menu {
    position: absolute;
    background-image: linear-gradient(rgb(229,229,229) 0%, rgb(205,205,205) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    height: 22px;
    width: 100%;
    border-bottom: 1px solid rgba(10,10,10,0.2);
}

div.menu {
    position: absolute;
    background-image: linear-gradient(rgb(246,246,246) 0%, rgb(246,246,246) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    height: 22px;
    width: 100%;
    border-bottom: 1px solid rgba(10,10,10,0.1);
}

div.menu.active {
    background-image: linear-gradient(rgb(229,229,229) 0%, rgb(205,205,205) 100%);
}

div.lights {
    position: absolute;
    top: 5px;
    left: 9px;
    background-image: url(img/lights-inactive.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    width: 50px;
}

div.lights.inactive {
    background-image: url(img/lights-inactive.png);
}

div.lights.active {
    background-image: url(img/lights.png);
}

div.lights.hover {
    background-image: url(img/lights-hover.png);
}

h1, h2, h3, p, li, .button, table {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 16px;
    letter-spacing: .01em;
    color: rgba(10, 10, 10, 1);
    margin: 0;
    cursor: default;
    line-height: 1.4em;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    padding: .5em;
}

h2 {
    font-weight: bold;
    padding: .5em;
}

h3 {
    font-weight: normal;
    padding: 1.7em .5em .5em .5em;
}

p {
    padding: .5em;
    position: relative;
}

li {
    padding: 0;
    position: relative;
}

td {
    padding: .2em 10px .2em .5em;
    vertical-align: top;
}

.lightbox p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

u {
    text-decoration: none;
    position: relative;
    border-bottom-style: none;
}

u:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.02em;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
}

p.black a {
    text-decoration: none;
    color: rgba(10, 10, 10, 1);
    position: relative;
    border-bottom-style: none;
    cursor: pointer;
}

p.black a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -0.08em;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out 200ms;
    -moz-transition: all 0.4s ease-in-out 200ms;
    -ms-transition: all 0.4s ease-in-out 200ms;
    -o-transition: all 0.4s ease-in-out 200ms;
    transition: all 0.4s ease-in-out 200ms;
}

p.black a:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.08em;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out 100ms;
    -moz-transition: all 0.4s ease-in-out 100ms;
    -ms-transition: all 0.4s ease-in-out 100ms;
    -o-transition: all 0.4s ease-in-out 100ms;
    transition: all 0.4s ease-in-out 100ms;
}

#info p.black a {
    color: rgba(39, 39, 230, 1);
}

#info p.black a:before {
    width: 100%;
    background-color: rgba(39, 39, 230, 1);
}

#info p.black a:hover:before {
    width: 0;
    left: auto;
    right: 0;
    background-color: rgba(39, 39, 230, 1);
}

p.black-only a {
    text-decoration: none;
    color: rgba(10, 10, 10, 1);
    position: relative;
    border-bottom-style: none;
    cursor: pointer;
    background-color: none;
    cursor: default;
}

p.black-only a:before {
    background: none;
}

p.black-only a:hover:before {
    background: none;
}

.lightbox {
    position: fixed;

    margin: auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    pointer-events: none;

    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox.visible {
    display: flex;
}

.lightbox.window {
    opacity: 0;
    pointer-events: none;

    position: relative;
    max-width: 800px;
    max-height: 700px;
    width: 90%;
    height: 90%;
    background: rgba(250,250,250,0.9);
    float: left;
    margin: 1em;

    border: 1px solid rgba(10,10,10,0.3);
    border-radius: 5px;
    -webkit-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -moz-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -ms-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -o-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
}

.lights-light {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 7px;
    left: 9px;
    background-image: url(img/lights-lightbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12px;
    width: 32px;
}

.lights-light:active {
    background-image: url(img/lights-lightbox-click.png);
}

#anfrage, #impressum, #haftungsausschluss, #datenschutz {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 26px;
    bottom: 4px;;
    left: 4px;
    right: 4px;
    background-color: #fff;
    padding: 2.2em 2em 0em 2em;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: auto;
    overflow: auto;
}

.lightbox.window.visible, .lights-light.visible, #anfrage.visible, #impressum.visible, #haftungsausschluss.visible, #datenschutz.visible {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity 300ms ease-in-out 100ms;
    -moz-transition: opacity 300ms ease-in-out 100ms;
    -ms-transition: opacity 300ms ease-in-out 100ms;
    -o-transition: opacity 300ms ease-in-out 100ms;
    transition: opacity 300ms ease-in-out 100ms;

    z-index: 9999;
}

.portrait {
    position: absolute;
    padding: 26px 4px 4px 4px;
    background: rgba(250,250,250,0.9);

    z-index: 999;

    height: 0px;
    width: 0px;
    top: 20px;
    left: 40%;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out 400ms;
    -moz-transition: all 400ms ease-in-out 400ms;
    -ms-transition: all 400ms ease-in-out 400ms;
    -o-transition: all 400ms ease-in-out 400ms;
    transition: all 400ms ease-in-out 400ms;

    pointer-events: none;
    
    border-radius: 5px;
    border: 1px solid rgba(10,10,10,0.3);
    -webkit-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -moz-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -ms-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    -o-box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
    box-shadow: 0px 13px 20px 0px rgba(10,10,10,0.3);
}

.portrait.hidden, #contact:hover .portrait.hidden {
    z-index: 0;

    height: 0px;
    width: 0px;
    top: 20px;
    left: 40%;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out 400ms;
    -moz-transition: all 400ms ease-in-out 400ms;
    -ms-transition: all 400ms ease-in-out 400ms;
    -o-transition: all 400ms ease-in-out 400ms;
    transition: all 400ms ease-in-out 400ms;
}

.portrait.hidden-touch, #contact:hover .portrait.hidden-touch {
    display: none;
}

.img-portrait {
    background-image: url(img/portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.lights-portrait {
    position: absolute;
    top: 7px;
    left: 9px;
    height: 12px;
    width: 32px;
    -webkit-transition: all 400ms ease-in-out 100ms;
    -moz-transition: all 400ms ease-in-out 100ms;
    -ms-transition: all 400ms ease-in-out 100ms;
    -o-transition: all 400ms ease-in-out 100ms;
    transition: all 400ms ease-in-out 100ms;
    
    background-image: url(img/lights-lightbox.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#contact:hover .portrait {
    height: 200px;
    width: 200px;
    top: -240px;
    left: -20px;
    opacity: 1;
    -webkit-transition: all 400ms ease-in-out 100ms;
    -moz-transition: all 400ms ease-in-out 100ms;
    -ms-transition: all 400ms ease-in-out 100ms;
    -o-transition: all 400ms ease-in-out 100ms;
    transition: all 400ms ease-in-out 100ms;
}

.flex a, .lightbox a {
    text-decoration: none;
    color: rgba(39, 39, 230, 1);
    position: relative;
    border-bottom-style: none;
    cursor: pointer;
}

.flex a:before, .lightbox a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.08em;
    left: 0;
    background-color: rgba(39, 39, 230, 1);
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out 200ms;
    -moz-transition: all 0.4s ease-in-out 200ms;
    -ms-transition: all 0.4s ease-in-out 200ms;
    -o-transition: all 0.4s ease-in-out 200ms;
    transition: all 0.4s ease-in-out 200ms;
}

.flex a:hover:before, .lightbox a:hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -0.08em;
    left: auto;
    right: 0;
    background-color: rgba(39, 39, 230, 1);
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out 100ms;
    -moz-transition: all 0.4s ease-in-out 100ms;
    -ms-transition: all 0.4s ease-in-out 100ms;
    -o-transition: all 0.4s ease-in-out 100ms;
    transition: all 0.4s ease-in-out 100ms;
}

.overlay {
    position: fixed;
    
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    pointer-events: none;

    z-index: 99999;
}

section {
    position: absolute;
    top: -50%;
    left: -50%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    visibility: hidden;

    /*transform: rotateX(40deg) rotateY(0deg) rotateZ(30deg);*/
}

section.visible {
    visibility: visible;
}

div.card {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

div.card-front {
    height: 262px;
    width: 400px;
    background-image: url(img/card-front.png);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(2px);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(2px);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(2px);
    -o-transform: translateX(-50%) translateY(-50%) translateZ(2px);
    transform: translateX(-50%) translateY(-50%) translateZ(2px);
}

div.card-right {
    height: 262px;
    width: 4px;
    background-image: url(img/card-side.png);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
    -moz-transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
    -ms-transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
    -o-transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
    transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
}

div.card-left {
    height: 262px;
    width: 4px;
    background-image: url(img/card-side.png);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);
    -moz-transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);    
    -ms-transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);
    -o-transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);
}

div.card-top {
    height: 4px;
    width: 400px;
    background-image: url(img/card-top.png);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(131px);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(131px);
    -ms-transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(131px);
    -o-transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(131px);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(131px);
}

div.card-bottom {
    height: 4px;
    width: 400px;
    background-image: url(img/card-top.png);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(131px);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(131px);
    -ms-transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(131px);
    -o-transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(131px);
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(131px);
}

div.card-back {
    height: 262px;
    width: 400px;
    background-image: url(img/card-back.png);
    -webkit-transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(2px);
    -moz-transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(2px);
    -ms-transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(2px);
    -o-transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(2px);
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(2px);
}

/*@font-face {
    font-family: acier-bat-noir;
    src: url(https://use.typekit.net/af/1aa843/00000000000000003b9ad7da/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/1aa843/00000000000000003b9ad7da/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/1aa843/00000000000000003b9ad7da/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}*/